# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea


.ipynb_checkpoints

# https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
# General
.DS_Store
.AppleDouble
.LSOverride